<!DOCTYPE html>
<html>
<head>
<title>The portfolio site of Erika Logie</title>
<!-- <link rel="stylesheet" type="text/css" href="scss/styles.scss">
<link rel="stylesheet" type="text/css" href="scss/partials/_mq.scss">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'> -->
</head>

<body>
  <div class="bg-img">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="my-name">Erika Logie</div>
        </div>
      </div>
      <div class="row hero-text">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="hero-large">I create digital experiences</div>
          <div class="hero-italic">that make a difference</div>
          <div class="hero-paragraph">I'm rebuilding my website at the moment. In the meantime check out my work at <a href="http://numundo.org" target="_blank" class="links">NuMundo</a>, <a href="http://yellow-seed.org" target="_blank" class="links">Yellow Seed</a>, <a href="http://wildff.org/" target="_blank" class="links">Wild Forest and Fauna</a> and <a href="http://integralcenter.org" target="_blank" class="links">the Integral Center</a>.
          <div class="hero-paragraph">Follow me on <a href="http://twitter.com/erikalogie" target="_blank" class="links"> Twitter</a>, <a href="https://www.instagram.com/erikalogie/" target="_blank" class="links"> Instagram</a>,  or contact me at hello [at] erikalogie.com.
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</body>
